@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header_top__icon_wrapper {
        @apply bg-gray-200 rounded-md p-[6px] text-[16px] cursor-pointer hover:bg-accent hover:text-white;
    }
    .navbar__link:hover {
        color: #ff8f9c;
        transition: all 0.4s;
    }

    .navbar__link:after {
        position: absolute;
        content: "";
        background-color: #f02a29;
        height: 3px;
        width: 100%;
        bottom: -5px;
        left: 0;
        scale: 0;
        transform-origin: left;
        transition
        : all 0.4s;
    }

    .navbar__link:hover::after {
        scale: 1;
    }

    .background-image {
        position: absolute;
        width: 100%;
        height: 80%;
        z-index: -1;

    }
    
    .custom-button {
        margin: 1rem;
        padding: 0.5rem 1rem; 
        background-color: #ff0000; 
        color: #ffffff; 
        border: none;
        border-radius: 50px;
        cursor: text;
    }

    .about-section {
        background-color: #2C3539;
    }
}